<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tex3/icon_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,992},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>tex3/icon_worldcup.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,978},{43,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,62}</string>
			</dict>
			<key>tex3/icon_worldcup_jiesuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,385},{57,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,83}</string>
			</dict>
			<key>tex3/img_label.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,992},{45,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,21}</string>
			</dict>
			<key>tex3/img_rules_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,641},{579,206}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{587,212}</string>
			</dict>
			<key>tex3/img_rules_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,287},{349,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{349,253}</string>
			</dict>
			<key>tex3/img_rules_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,2},{325,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{325,281}</string>
			</dict>
			<key>tex3/img_rules_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,242},{124,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,127}</string>
			</dict>
			<key>tex3/btn_orange_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,859},{270,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,140}</string>
			</dict>
			<key>tex3/btn_orange_big2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1318,593},{270,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{270,140}</string>
			</dict>
			<key>tex3/bg_my_banner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,315},{141,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,166}</string>
			</dict>
			<key>tex3/bg_getiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,2},{193,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{193,91}</string>
			</dict>
			<key>tex3/tab_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,992},{108,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,15}</string>
			</dict>
			<key>tex3/icon_worldcup_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,228},{119,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,177}</string>
			</dict>
			<key>tex3/icon_worldcup_spine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1973,373},{71,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,93}</string>
			</dict>
			<key>tex3/img_award.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,385},{309,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{309,216}</string>
			</dict>
			<key>tex3/img_top_flag.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,2},{526,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{526,222}</string>
			</dict>
			<key>tex3/ramadan/bankuai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1282,367},{213,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,222}</string>
			</dict>
			<key>tex3/ramadan/biaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,545},{56,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,60}</string>
			</dict>
			<key>tex3/ramadan/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,287},{120,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,48}</string>
			</dict>
			<key>tex3/ramadan/xianshibiaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,992},{55,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,25}</string>
			</dict>
			<key>tex3/skinCompose/botbanzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,955},{66,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,343}</string>
			</dict>
			<key>tex3/skinCompose/bg_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1753,199},{112,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,120}</string>
			</dict>
			<key>tex3/skinCompose/bg_rect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,747},{62,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,52}</string>
			</dict>
			<key>tex3/skinCompose/bg_rect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,2},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>tex3/skinCompose/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,2},{147,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,86}</string>
			</dict>
			<key>tex3/skinCompose/icon_ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,472},{69,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,63}</string>
			</dict>
			<key>tex3/skinCompose/icon_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,554},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>tex3/skinCompose/icon_fight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1937,629},{66,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,65}</string>
			</dict>
			<key>tex3/skinCompose/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,1011},{14,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{14,1}</string>
			</dict>
			<key>tex3/skinCompose/mat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,765},{70,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,110}</string>
			</dict>
			<key>tex3/skinCompose/mat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,690},{70,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,109}</string>
			</dict>
			<key>tex3/skinCompose/mat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1833,480},{70,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,109}</string>
			</dict>
			<key>tex3/skinCompose/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{635,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{635,199}</string>
			</dict>
			<key>tex3/skinCompose/icon_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,939},{48,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,12}</string>
			</dict>
			<key>tex3/skinCompose/icon_unknown.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,907},{40,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,58}</string>
			</dict>
			<key>tex3/skinCompose/bg_rect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1828,570},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>tex3/skinCompose/button_lightup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,228},{234,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,83}</string>
			</dict>
			<key>tex3/skinCompose/icon_backpack.png</key>
			<dict>
				<key>frame</key>
				<string>{{1884,373},{87,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,85}</string>
			</dict>
			<key>tex3/skinCompose/icon_collection.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,480},{92,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,86}</string>
			</dict>
			<key>tex3/skinCompose/icon_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,679},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>tex3/skinCompose/icon_rules.png</key>
			<dict>
				<key>frame</key>
				<string>{{1901,698},{64,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,67}</string>
			</dict>
			<key>tex3/skinCompose/menubutton_notpick.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,402},{236,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,74}</string>
			</dict>
			<key>tex3/skinCompose/menubutton_picked.png</key>
			<dict>
				<key>frame</key>
				<string>{{1882,2},{236,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,74}</string>
			</dict>
			<key>tex3/skinCompose/icon_kongbai.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,411},{219,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{219,223}</string>
			</dict>
			<key>tex3/skinCompose/icon_owned.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,939},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>tex3/skinCompose/skin_select.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,572},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>tex3/skinCompose/skin_unselect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1710,572},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,114}</string>
			</dict>
			<key>tex3/skinCompose/small_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,992},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>tex3/skinCompose/store_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,640},{176,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{176,222}</string>
			</dict>
			<key>tex3/skinCompose/button_get.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,274},{265,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{265,95}</string>
			</dict>
			<key>tex3/skinCompose/result_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,2},{268,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,268}</string>
			</dict>
			<key>tex3/skinCompose/bg_tip.png</key>
			<dict>
				<key>frame</key>
				<string>{{1946,468},{66,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,72}</string>
			</dict>
			<key>tex3/skinCompose/state_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,779},{366,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{366,76}</string>
			</dict>
			<key>tex3/skinCompose/button_notlightup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,228},{234,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,83}</string>
			</dict>
			<key>tex3/skinCompose/btn_ad.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,485},{234,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,83}</string>
			</dict>
			<key>tex3/skinCompose/btn_takeout.png</key>
			<dict>
				<key>frame</key>
				<string>{{1644,315},{234,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{234,83}</string>
			</dict>
			<key>tex3/challenge/bg_room_rewards1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,2},{379,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{379,83}</string>
			</dict>
			<key>tex3/challenge/bg_room_rewards2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,907},{379,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,83}</string>
			</dict>
			<key>tex3/challenge/bg_room_rewards3.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,820},{379,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{379,83}</string>
			</dict>
			<key>tex3/challenge/img_card_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,369},{227,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{227,213}</string>
			</dict>
			<key>tex3/challenge/bg_banner_resurrection.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,851},{500,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{500,84}</string>
			</dict>
			<key>tex3/challenge/bg_img_resurrection.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,2},{363,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{363,178}</string>
			</dict>
			<key>tex3/challenge/bg_card_huawen.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,640},{220,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,205}</string>
			</dict>
			<key>tex3/challenge/img_btn_crystal.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,978},{160,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,38}</string>
			</dict>
			<key>tex3/challenge/icon_championship_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1960,153},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>tex3/challenge/btn_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,851},{404,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,137}</string>
			</dict>
			<key>tex3/challenge/btn_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1035,638},{279,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{279,137}</string>
			</dict>
			<key>tex3/challenge/img_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,976},{98,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,45}</string>
			</dict>
			<key>tex3/challenge/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1592,690},{121,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,71}</string>
			</dict>
			<key>tex3/challenge/img_double_coins.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,120},{100,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,110}</string>
			</dict>
			<key>tex3/challenge/img_manypeople.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,939},{47,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,33}</string>
			</dict>
			<key>tex3/challenge/img_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1277,315},{53,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,48}</string>
			</dict>
			<key>tex3/bg_jinbitiaonew.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,939},{204,35}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,35}</string>
			</dict>
			<key>tex3/img_top_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,992},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
			<key>tex3/img_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,992},{68,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>worldCup.png</string>
			<key>realTextureFileName</key>
			<string>worldCup.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>